.ooo-motivations{
    background-color: var(--color-04);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-image: url(../img/hexagonos.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    h2{
        color: var(--color-03);
    }
    .ooo-content{
        @include media-min( $min-M ){
            > div{
                columns: 2;
                column-gap: var(--padding);
                p{margin-top: 0;}
            }
        }
    }
}