    <footer>
        <div>Esta publicación es parte del proyecto <em>DynaClassroom: Un Sistema de Realidad Mixta e Interfaces de Usuario Tangibles para el Aprendizaje Colaborativo en el Contexto de la Educación</em> (FAV-010100-2022-30), financiado por el Ministerio de Transformación Digital y de la Función Pública.</div>
        <div>Projecto FAV-010100-2022-30 financiado por:</div>
        <img src="/images/MTDFP.jpg" alt="Logotipo del Ministerio de Transformación Digital y de la Función Pública">
    </footer>
</body>
</html>
